*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root{
    --BDCOLOR:#f0f0f0;
    --navcolor: #202940;
    --font: 'Poppins',serif;
}

body {
  padding-top: 70px; /* same height as your header */
}

/* Navigation */
.nav{
    background-color: #202940;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 20;
}
.nav ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 15px;
}
.nav ul a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 15px;
    transition: 0.4s ease-in-out 0.2s;
}

.logo{
    display: flex;
    align-items: center;
}
.logo span{
    color: limegreen;
    font-family: 'Poppins';
}
.logo img{
    width: 70px;
    height: 70px;
    margin-left: 13px;
    margin-bottom: 10px;

}
.logo h1{
    color: white;
    font-family: 'Poppins',serif;
    font-weight: bold;
    margin-right: auto;
    margin-left: 6px;
    align-self: center;
}
.nav ul a:is(:hover, :active){
    color: limegreen;
    cursor: pointer;
    border-bottom: 1.3px solid lime;
    border-top: none;
    border-right: none;
    border-left: none;
}
.nav input, svg{
    display: none;
}


.welcome{
    margin: 0px 0px 5px 0px;
   background-color: #121212;
    padding: 80px 20px;
    text-align: center;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 10;
}
.welcome h1 {
    padding: 8px;
    color: #FFD700; /* gold */
   font-family: 'Poppins';
}

.welcome p {
  color: #F5F5F5;
  font-family: 'Poppins';
  padding: 5px;
  font-weight: bold;
  margin-bottom: 5px;
}

 /* RESPONSIVE NAV */
@media(max-width: 600px){
    .welcome{
        height: 225px;
        padding-top: 94px;
        text-align: center;
    }
    .welcome p{
        line-height: 1.6rem;
    }
    .nav ul a:is(:hover, :active) {
    color: limegreen;
    cursor: pointer;
    border: none;
}
    .nav ul{
        position: absolute;
        top: 80px;
        left: -100%;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--navcolor);
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        transition: .4s
    }

    .menu li{
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .menu li a{
        font-weight: bolder;
    }
    
    .nav svg{
    display: flex;
    margin-right: 15px;
}

.checked:checked~.menu {
    left: 0;
}

}
 
.container{
    margin-top: 60px;
    margin-bottom: 50px;
}
.gallery-container {
    column-width: 250px;
    column-gap: 20px;
    padding: 15px;
}
@media (max-width: 600px) {
    .gallery-container {
        column-width: 150px;
    }
   
}

.gallery-item {
    break-inside: avoid;
    margin-bottom: 20px;
    overflow: hidden;
    transition: .4s;
    animation-name: scale;
    animation-duration: .9s;
    animation-delay: .2s;
    animation-timing-function: ease-in;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 7px;
    transition: .4s;
}

.gallery-item img:hover{
    transform: scale(1.1);
}
@keyframes scale{
    from{
        opacity: 0;
        transform: scale(0.9);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}


/* footer */
footer{
     background-color: #202940;
     width: 100%;
     color: white;
     margin: 0px 0px 0px 0px
}
.footer-items{
    display: flex;
    margin: 0px 30px 0px 30px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding-top: 10px;
}
.footer-icons img{
    margin-top: 10px;
}
.footer-icons h2{
    font-family: 'Poppins';
}
.footer-icons p{
    max-width: 250px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.4rem;
    font-weight: normal;
    margin-bottom: 10px;
}
 .links{
     margin-bottom: 10px;
     line-height: 1.4rem;
     margin-top: 15px;
 }
 .follow-us{
     margin-top: 15px;
 }
.follow-us a i{
    font-size: 24px;
    color: limegreen;
    padding: 6px;
    gap: 10px;
}
.links a{
    text-decoration: none;
    color: white;
    margin-top: 5px;
    font-family: sans-serif;
    line-height: 1.7rem;
}
footer span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 5px;
    padding: 10px;
}
footer a{
    text-decoration: none;
}
@media(max-width: 600px){
    .footer-items{
        display: flex;
        flex-direction: column;
    }
}